body {
  background-color: wheat;
}

header {
  background-color: lightgray;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vh;
  height: 100%;
}

.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calcSelect {
  font-size: x-large;
  height: 100%;
  width: 15vh;
  border: none;
  text-align: center;
}

