h1 {
  margin-bottom: 20vh;
}
.panel {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  border: 5px solid gray;
  justify-content: space-evenly;
}

.input {
  background-color: lightblue;
}