h1 {
  margin-bottom: 10vh;
}
.panel {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  border: 5px solid gray;
  justify-content: space-evenly;
}

.input {
  background-color: lightblue;
  padding: 5vh;
}

#hertzSelector {
  position: relative;
  margin-left: -5.5vh;
  border: none;
  background-color: lightgray;
}

#calcButton {
  cursor: pointer;
}

.description {
  font-weight: 700;
  margin-top: 60vh;
}

.mesBorder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mes {
  border-top: lightgray 2px solid;
  border-right: lightgray 2px solid;
  border-left: lightgray 2px solid;
  width: 40%;
  height: 1vh;
  margin: 5vh 2vh 0vh 2vh;
  text-align: center;
}

.antennaBorder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.antenna {
  border-bottom: black 2px solid;
  width: 40%;
  margin: 3vh 2vh 0vh 2vh;
}

