body{
  margin: 0;
}
.panel {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  border: 5px solid gray;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.input {
  background-color: lightblue;
  padding: 5vh;
  border: solid black 2px;
}

.freqInput {
  text-align: center;  
}

.freqHrtz {
  display: flex;
  flex-direction: row;
}

#hertzSelector {
  position: relative;
  height: 100%;
  border: none;
  font-weight: 500;
  font-size: xx-large;
  background-color: white;
}

.output {
  width: 40%;
}

#calcButton {
  cursor: pointer;
}

.description {
  font-weight: 700;
  margin-top: 60vh;
}

.antennaDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mes {
  border-top: lightgray 2px solid;
  border-right: lightgray 2px solid;
  border-left: lightgray 2px solid;
  width: 40%;
  height: 1vh;
  margin: 5vh 2vh 3vh 2vh;
  text-align: center;
}

.antennaBorder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.antenna {
  border-top: black 2px solid;
  width: 40%;
  height: 10vh;
}

.leftEl {
  border-left: black 2px solid;
  margin-right: 2%;
}

.rightEl {
  border-right: black 2px solid;
  margin-left: 2%;
}

.connectors {
  display: flex;
  justify-content: space-between;
  width: 5%;
}

.dot {
  border: solid black 2px;
  background-color: gray;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  margin-bottom: -.75vh;
  z-index: 1;
}

.reflectorContainer {
  display: flex;
  justify-content: center;
}

.reflector {
  border-bottom: solid black 2px;
  border-right: solid black 2px;
  border-left: solid black 2px;
  width: 84%;
  height: 20vh;
  margin-top: 5vh;
}